{% extends "fourth_task/main.html" %}

{% block pagename %}
    <h1>Предложения</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>
    <h2>Lada Vesta <button>Купить</button></h2>

    <h2>Lada Vesta <button>Купить</button></h2>
    
    
{% endblock %}