body {
    background-color: #333030;
}
/* Стилизация контейнера для ссылок */
nav {
    width: 100vw;
    height: 5vh;
    margin-top: 2vh;
    display: flex;
}

.logo {
    font-size: 25px;
    cursor: pointer;
    width: 5vw;
    margin-left: 5vw;
    color: seashell;
}

ul {
    width: 110vh;
    height: 5vh;
    text-align: center;
    margin-top: 0.01vw;
    margin-left: 80vh;
}

ul li {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
    color: seashell;
}   